
<!-- ================ HIDDEN SECTION ================== -->

<!--
<div class="hide section video-preview-section">
  <div class="row row-with-video">
    <div class="small-10 medium-8 small-centered columns">
      <a href="#" class="play-video">
          <div class="overlay-video-still">
            <div class="play-svg">
              <%= image_tag 'play.svg' %>
            </div>
          </div>

          <div class="flex-video">
            <iframe src="http://www.youtube.com/embed/3HU95hDUN8Q" frameborder="0" allowfullscreen></iframe>
          </div>
      </a>
    </div>
  </div>
</div>
-->


<!-- ================ HERO ================== -->

<div class="section section-hero">
  <div class="overlay-grey"></div>
  <div class="row">
    <div class="small-10 small-centered columns">
        <h2>Meet Butterfleye,<br/>
          The World's Smartest Camera
        </h2>
          <div class="play-video">
            <a id="open-modal-video">
              <i class="fa fa-play-circle-o pulsor"></i>
            </a>
          </div>
        <h3>
          Butterfleye lets you see and hear what's happening in your home when you are away.
        </h3>
    </div>
  </div>
</div>

<!-- ================ MEET BUTTERFLEYE ================== -->

<div class="section section-meet">
  <div class="row row-background-image full-width-row">
  </div>
  <div class="row row-section-title">
    <div class="small-10 small-offset-1 medium-5 medium-offset-7 columns">
        <h2>
          Access your Butterfleye from anywhere
        </h2>
    </div>
  </div>
  <div class="row row-section-subtitle">
    <div class="small-10 small-offset-1 medium-5 medium-offset-7 columns">
        <h3>
          Watch live video and view recordings from your Butterfleye on your smartphone.
        </h3>
    </div>
  </div>
</div>


<!-- ================ FEATURES ================== -->


<div class="section section-features">
  <div class="full-width-row">
    <div class="two-squares">
      <div class="square square-background-app">
        <div class="overlay-purple"></div>
        <div class="square-content-wrapper">
          <div class="square-content-inner-wrapper">
            <p class="square-content">
              Share &amp; edit videos through app
            </p>
          </div>
        </div>
      </div>
      <div class="square square-background-smart">
        <div class="overlay-yellow"></div>
        <div class="square-content-wrapper">
          <div class="square-content-inner-wrapper">
            <p class="square-content">
              Connect to other smart devices
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="two-squares">
      <div class="square square-background-portable">
        <div class="overlay-light-blue"></div>
        <div class="square-content-wrapper">
          <div class="square-content-inner-wrapper">
            <p class="square-content">
              Cordless and portable
            </p>
          </div>
        </div>
      </div>
      <div class="square square-background-detect">
        <div class="overlay-orange"></div>
        <div class="square-content-wrapper">
          <div class="square-content-inner-wrapper">
            <p class="square-content">
              Face and motion detection
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ================ ACTIVE EYE ================== -->

<div class="section section-active-eye">
  <div class="row">
    <div class="small-12 medium-4 medium-offset-1 large-3 columns">
      <div class="row row-section-title">
        <div class="column small-12">
          <h3>'ActiveEye' Intelligence</h3>
        </div>
      </div>
      <div class="row">
        <div class="active-eye-image"></div>
      </div>
    </div>
    <div class="small-12 medium-7 columns feature-list">
      <div class="row">
        <div class="column small-10 small-centered">
          <div class="row list-item">
            Face detection
          </div>
          <div class="row list-item">
            Heat &amp; motion detection
          </div>
          <div class="row list-item">
            Sound detection
          </div>
          <div class="row list-item">
            Decision making &amp; alerts
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ================ SENSING ================== -->


<div class="section section-sensing">
  <div class="overlay-purple"></div>
  <div class="row row-section-title">
    <div class="columns small-8 small-centered">
      <h3>Butterfleye senses <em>when</em> to record, <em>who</em> to record, <em>what</em> to record</h3>
    </div>
  </div>
</div>



<!-- ================ SMART PHONE ================== -->

<div class="section section-smartphone">

  <div class="row">


    <div class="small-12 medium-4 large-3 columns">
      <div class="row">
        <div class="small-8 small-offset-2 medium-offset-2 large-offset-4 medium-12 columns">
          <%= image_tag 'iphone-alert.png' %>
        </div>
      </div>
    </div>
    <div class="small-12 medium-7 columns">
      <div class="row">
        <div class="row text-center row-section-title">
          <h3>Access Butterfleye from your Smartphone</h3>
        </div>
        <div class="column small-12 small-centered">
          <div class="row">
            <div class="column small-2">
              <div class="orange-img">
                  <span class='image-aligner'></span><i class="fa fa-warning"></i>
              </div>
            </div>
            <div class="column list-item small-10">
              Enable alerts to bring important events or activity to your attention
            </div>
          </div>
          <div class="row">
            <div class="column small-2">
              <div class="orange-img">
                 <span class='image-aligner'></span><i class="fa fa-fast-forward"></i>
              </div>
            </div>
            <div class="column list-item small-10">
              Browse through hours of video in seconds
            </div>
          </div>
          <div class="row">
            <div class="column small-2">
              <div class="orange-img">
                 <span class='image-aligner'></span><i class="fa fa-facebook"></i>
              </div>
            </div>
            <div class="column list-item small-10">
              Share to social networks
            </div>
          </div>
          <div class="row">
            <div class="column small-2">
              <div class="orange-img">
                 <span class='image-aligner'></span><i class="fa fa-volume-up"></i>
              </div>
            </div>
            <div class="column list-item small-10">
              Hear and speak through app
            </div>
          </div>
          <div class="row">
            <div class="column small-2">
              <div class="orange-img">
                 <span class='image-aligner'></span><i class="fa fa-film"></i>
              </div>
            </div>
            <div class="column list-item small-10">
              In app video editing
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>




<!-- ================ COMPARISON ================== -->


<div class="section section-compare">
  <div class="overlay-light-blue"></div>
  <div class="row row-section-title">
    <div class="small-10 small-offset-1 columns">
      <h3>How does Butterfleye compare to other cameras?</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <div class="compare-image-container">
          <%= image_tag 'compare-white-active-eye.svg', class: 'compare-image' %>
      </div>
      <div class="compare-label">Active Eye Technology</div>
    </div>

    <div class="small-12 medium-3 columns">
      <div class="compare-image-container">
        <%= image_tag 'compare-full-hd.svg', class: 'compare-image' %>
      </div>
      <div class="compare-label">1920 X 1080 Video</div>
    </div>

    <div class="small-12 medium-3 columns">
      <div class="compare-image-container">
        <%= image_tag 'compare-no-installation.svg', class: 'compare-image' %>
      </div>
      <div class="compare-label">No Installation</div>
    </div>

    <div class="small-12 medium-3 columns">
      <div class="compare-image-container">
        <%= image_tag 'compare-share.svg', class: 'compare-image' %>
      </div>
      <div class="compare-label">Share your Videos</div>
    </div>
  </div>

  <div class="row row-bottom-aligned row-faq">
    <div class="large-4 medium-6 small-10 small-centered columns">
      <div class="white-top-rounded-border">
        <%= link_to "See full comparison in FAQ", "/faq" %>
      </div>
    </div>
  </div>
</div>





<!-- ================ FINAL CTA ================== -->



<div class="section section-shipping">
  <div class="overlay-grey"></div>
  <!--
  <video class="bg-video" id="bottomVideo" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
          <source src="//d1gwm4cf8hecp4.cloudfront.net/vid/home/emarald.m4v" type="video/mp4">
          <source src="//d1gwm4cf8hecp4.cloudfront.net/vid/home/emarald.ogv" type="video/ogg">
          <source src="//d1gwm4cf8hecp4.cloudfront.net/vid/home/emarald.webm" type="video/webm">
  </video>
  /-->

  <div class="row">
    <div class="small-8 small-centered columns text-center">
      <div class="row row-section-title">
        <h2>The camera that captures your everyday moments.</h2>
      </div>
      <div class="row row-section-button">
        <div class="small-12 medium-8 large-6 small-centered columns">
          <a class="radius button large expand button-jumbo" href="#" data-celery="<%= AppConfig.celery_product_code %>">Preorder Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

